/* browser resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 24px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 2px;
  padding: 2px;
}

button {
  height: 50px;
  width: 100px;
  margin: 2px;
  padding: 2px;
}

h2 {
  color: goldenrod;
}
h3 {
  color: grey;
}

.navigation {
  display: flex;
  margin: 50px;
  float: left;
  width: 100%;
}

img {
  height: 75px;
  width: auto;
  margin-right: 750px;
}
